grpcio
numpy
pandas
wget
intervaltree
# tensorflow==2.4.0
tensorflow-plot
scikit-optimize
matplotlib
seaborn
plotly>=4.3.0
compress_pickle[lz4]
auto_profiler
#tensorflow_addons
# libsvm

termcolor
jupyter_ui_poll
tqdm
keras
tensorflow
# pyactlearn @ git+https://github.com/TinghuiWang/pyActLearn
# cython
#libsvm
nbformat
pyarrow